.contentWrapper {
	width: 400px;
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 12px solid #16db93;
	border-radius: 20px;
	position: relative;
}
.textWrapper {
	background-color: #16db93;
	border-top-right-radius: var(--border-radius-medium);
	padding: var(--padding-regular);
	position: absolute;
	max-width: 50%;
	left: 0;
	bottom: 0;
	.cardText {
		font-size: var(--color-brand-font-size-heading-4);
		color: #fff;
		text-overflow: ellipsis;
	}
}
.linkButton {
	width: 38px;
	height: 38px;
	border-radius: 100%;
	background-color: #fff;
	position: absolute;
	right: 12px;
	bottom: 12px;
}
// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
