// Styling for reset password screen
.resetPasswordScreen {
	background-color: var(--color-brand-primary-regular);
	min-height: 100vh;

	.resetPasswordContainer {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0 var(--padding-xlarge);
		min-height: 100vh;
	}

	// Forgot password and image side styling
	.leftSection {
		width: 40%;
		color: var(--color-brand-primary-contrast);

		.leftContent {
			color: var(--color-brand-primary-contrast);

			//Forgot password main title
			.leftSectionTitle {
				font-family: var(--font-family-primary);
				font-size: var(--font-size-10xlarge);
				line-height: 1;
				margin-bottom: var(--margin-small);
			}

			.leftSectionDescription {
				font-size: var(--font-size-large);
				font-weight: var(--font-weight-medium);
				line-height: var(--line-height-regular);
			}
		}
		// Image on left side
		.leftSectionVector {
			margin-top: 40px;
			max-width: 300px;
		}
	}

	// Form section
	.resetPasswordFormWrap {
		background: var(--color-brand-primary-contrast);
		width: 45%;
		border-radius: var(--border-radius-large);
		padding: 56px 80px;
		max-width: 500px;

		// Brand Icon
		.brandIcon {
			display: block;
			margin: auto;
			margin-bottom: 56px;
		}

		// Used for centering the items in it.
		.resetPasswordInfo {
			text-align: center;
			width: 90%;
			margin-bottom: 30px;
			.resetTitle {
				color: var(--color-text-regular);
				font-size: var(--font-size-heading-3);
				font-weight: var(--font-weight-semi-bold);
				font-family: var(--font-family-primary);
			}
			.resetInfo {
				color: var(--color-text-tint);
				font-family: var(--font-family-secondary);
				font-size: var(--font-size-sm);
				font-weight: var(--font-weight-regular);
				margin-top: var(--margin-small);
			}
		}

		.submitButton {
			margin-top: var(--margin-xxlarge);
		}
		// Link to go on Login Page
		.resetPasswordLinkWrap {
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--color-text-regular);
			font-weight: var(--font-weight-link);
			font-size: var(--font-size-link);
			margin-top: 36px;
			gap: var(--gap-regular);
			font-family: var(--font-family-secondary);

			.resetPasswordLink {
				color: var(--color-brand-primary-regular);
				text-decoration: underline;
			}
		}
	}
}

// Small laptops (1366 x 768)
@media only screen and (max-width: 1500px) {
}

// Ipad air
@media only screen and (max-width: 992px) {
	.resetPasswordScreen {
		.resetPasswordContainer {
		}

		// Forgot password and image side styling
		.leftSection {
			display: none;
		}

		// Form section
		.resetPasswordFormWrap {
			width: 100%;
		}
	}
}

// Ipad Mini
@media only screen and (max-width: 768px) {
}

// Mobile Phones
@media only screen and (max-width: 600px) {
	.resetPasswordScreen {
		.resetPasswordContainer {
		}

		// Forgot password and image side styling
		.leftSection {
		}

		// Form section
		.resetPasswordFormWrap {
			max-width: 95%;
			padding: 56px 40px;
		}
	}
}

// Small mobiles (iphone 5)
@media only screen and (max-width: 350px) {
}
