.wrapper {
	position: relative;
	padding: 10vmin 0;
}

.marqueeContainer {
	position: relative;
}

.topMarquee {
	transform: translateY(50%) rotate(5deg); // Rotates slightly
	background-color: var(--color-brand-primary-regular);
}

.bottomMarquee {
	background-color: var(--color-brand-neutral-light-100);
	transform: translateY(-50%) rotate(-5deg); // Opposite rotation
}

.marqueeItem {
	padding: var(--padding-regular);
}

// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
