.wrapper {
	position: relative;
	width: 100%;
	padding: 50px 0;
	overflow: hidden;
}

.marqueeContainer {
	position: relative;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.marquee {
	position: absolute;
	width: 100%;
}

.topMarquee {
	top: 50%;
	transform: translateY(-50%) rotate(-6deg); // Rotates slightly
	z-index: 2;
	background-color: var(--color-brand-neutral-light-100);
}

.bottomMarquee {
	background-color: var(--color-brand-primary-regular);
	top: 50%;
	transform: translateY(-50%) rotate(6deg); // Opposite rotation
	z-index: 1;
}

.marqueeItem {
	padding: 10px;
}

// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
	.topMarquee {
		top: 50%;
		transform: translateY(-50%) rotate(-4deg); // Rotates slightly
		z-index: 2;
		background-color: var(--color-brand-neutral-light-100);
	}

	.bottomMarquee {
		background-color: var(--color-brand-primary-regular);
		top: 50%;
		transform: translateY(-50%) rotate(4deg); // Opposite rotation
		z-index: 1;
	}
	.marqueeContainer {
		height: 200px;
	}
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
