$sizes: (
	small: "Small",
	medium: "Medium",
	large: "Large",
);

// Neevo Searchbar default styles.
.neevoSearchbarWrap {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
	// Label.
	.label {
		color: var(--color-searchbar-label-default);
		font-size: var(--font-size-searchbar-label);
		font-weight: var(--font-weight-searchbar-label);
	}

	// Select element.
	.searchbarElementWrapper {
		display: flex;
		align-items: center;
		position: relative;
		background: var(--color-searchbar-background-default);
		border: var(--border-width-sm) solid var(--border-color-searchbar-default);
		padding: 0 calc(var(--padding-searchbar-horizontal) + var(--spacing-36));
		border-radius: var(--border-radius-searchbar-default);

		// Style on focus.
		&:focus-within {
			border-color: var(--border-color-searchbar-focus);
		}

		// Style on hover.
		&:hover {
			border-color: var(--border-color-searchbar-focus);
		}
		// Input element.
		.inputElement {
			width: 100%;
			font-size: var(--font-size-searchbar-value);
			font-weight: var(--font-weight-searchbar-value);

			&::placeholder {
				font-size: var(--font-size-searchbar-value);
				color: var(--color-searchbar-placeholder);
			}
		}
		// Selected option (value).
		.selectedOption {
			color: var(--color-searchbar-label-default);
			font-size: var(--font-size-searchbar-option-value);
		}
		// Left icon.
		.iconLeft {
			position: absolute;
			top: 50%;
			left: 12px;
			height: var(--size-searchbar-icon-default);
			width: var(--size-searchbar-icon-default);
			transform: translate(0%, -50%);
			path {
				fill: var(--color-searchbar-icon);
			}
		}
		// Clear input button.
		.clearButton {
			position: absolute;
			top: 50%;
			right: 20px;
			height: var(--size-searchbar-close-icon-default);
			width: var(--size-searchbar-close-icon-default);
			transform: translateY(-50%);
			transition: all 0.3s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			// Clear button icon.
			.clearIcon {
				height: var(--size-searchbar-close-icon-default);
				width: var(--size-searchbar-close-icon-default);
				path {
					fill: var(--color-searchbar-icon);
				}
			}
		}

		// Dropdown list.
		.dropdownOptionsList {
			margin-top: var(--margin-small);
			border: 1px solid var(--border-color-searchbar-default);
			border-radius: var(--border-radius-searchbar-default);
			position: absolute;
			top: 100%;
			left: 0%;
			width: 100%;
			z-index: 1;
			overflow-y: auto;
			background-color: var(--color-searchbar-background-default);
			// Dropdown list options.
			.dropdownOption {
				display: flex;
				align-items: center;
				gap: var(--gap-searchbar-option-default);
				padding: 0 var(--padding-searchbar-option-horizontal);
				border-bottom: 1px solid var(--border-color-searchbar-default);
				cursor: pointer;

				// left icon.
				.optionsIconLeft {
					height: var(--size-searchbar-option-icon-default);
					width: var(--size-searchbar-option-icon-default);
					path {
						fill: var(--color-searchbar-option-icon);
					}
				}

				// Options text value.
				.searchbarOptionsValue {
					font-size: var(--font-size-searchbar-option-value);
				}

				// Hover on dropdown options.
				&:hover {
					background-color: var(--color-searchbar-option-background-hover);
				}

				// Last dropdown options.
				&:nth-last-child(1) {
					border-bottom: 0;
				}
			}
		}
	}
}

// Neevo Search Bar Disabled class.
.neevoSearchbarWrapDisabled {
	// Label.
	.label {
		color: var(--color-searchbar-label-disabled);
	}
	// Search Bar element wrapper.
	.searchbarElementWrapper {
		pointer-events: none;
		background-color: var(--color-searchbar-background-disabled);
		// Input element.
		.inputElement {
			background-color: var(--color-searchbar-background-disabled);
		}
		// Options dropdown.
		.dropdown {
			background: var(--color-searchbar-background-disabled);
			border: 1px solid var(--border-color-searchbar-disabled);
			pointer-events: none;
			.selectedOption {
				color: var(--color-searchbar-label-disabled);
			}
		}
	}
}

// Neevo Search Bar Selected option class.
.neevoSearchbarOptionSelected {
	background-color: var(--color-searchbar-option-background-hover);
	border-bottom: 1px solid var(--border-color-searchbar-option-default);
}

@mixin searchbar-size($size, $size-name) {
	// Neevo Search Bar size class.
	.neevoSearchbar#{$size-name} {
		.searchbarElementWrapper {
			height: var(--height-searchbar-#{$size});
			.dropdownOptionsList {
				// Dropdown list options.
				.dropdownOption {
					height: var(--height-searchbar-option-#{$size});
					// Options text value.
					.searchbarOptionsValue {
						font-size: var(--font-size-searchbar-option-value);
					}
				}
			}
		}
	}
}

@each $size, $size-name in $sizes {
	@include searchbar-size($size, $size-name);
}
