.accordianItem {
	border-radius: 16px;
	background-color: var(--color-brand-neutral-light-200);

	.questionWrapper {
		gap: var(--gap-xlarge);
		cursor: pointer;
		padding: var(--padding-medium) var(--padding-large);

		.title {
			font-size: var(--color-brand-font-size-small);
			line-height: 1.5;
		}

		.iconWrapper {
			background-color: var(--color-brand-primary-deep);
			padding: var(--padding-small);
			border-radius: 100%;

			.icon {
				color: var(--color-brand-primary-contrast);
				width: 12px;
				height: 12px;
			}
		}
	}

	.answerWrapper {
		overflow: hidden;
		max-width: 90%;
		transition: all 0.2s ease-in-out;

		.description {
			padding: 0 var(--padding-large) var(--padding-medium) var(--padding-large);
			font-size: var(--color-brand-font-size-xsmall);
			line-height: 1.5;
		}
	}
	&.active {
		background-color: var(--color-brand-primary-deep);

		.questionWrapper {
			.title {
				color: var(--color-brand-primary-contrast);
			}

			.iconWrapper {
				background-color: var(--color-brand-primary-contrast);

				.icon {
					color: var(--color-brand-primary-deep);
				}
			}
		}

		.answerWrapper {
			.description {
				color: var(--color-brand-neutral-light-200);
			}
		}
	}
}

// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad air
@media only screen and (min-width: 768px) {
	.accordianItem {
		.questionWrapper {
			padding: var(--padding-xlarge) var(--padding-xxlarge);

			.title {
				font-size: var(--color-brand-font-size-medium);
			}
		}

		.answerWrapper {
			.description {
				padding: 0 var(--padding-xxlarge) var(--padding-xlarge)
					var(--padding-xxlarge);
				font-size: var(--color-brand-font-size-regular);
			}
		}
	}
}

// Ipad Mini
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
