.logoWrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	.logoContainer {
		.logoImage {
			border-radius: var(--border-radius-large);
			width: 48px;
			height: 48px;
			object-fit: contain;
		}
	}

	.brandLogoText {
		font-weight: var(--font-weight-semi-bold);
		color: var(--color-side-menu-foreground);
		font-size: var(--font-size-xlarge);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&.collapsed {
		.brandLogoText {
			transform: scaleX(0);
		}
	}
	&.hovered {
		.brandLogoText {
			transform: scaleX(1);
		}
	}
}
