$colors: (
	primary: "Primary",
	secondary: "Secondary",
	tertiary: "Tertiary",
	neutral-light: "NeutralLight",
	neutral-dark: "NeutralDark",
	error: "Error",
	warning: "Warning",
	success: "Success",
);

$variants: (
	solid: "Solid",
	soft: "Soft",
	outline: "Outline",
	plain: "Plain",
);

$sizes: (
	small: "Small",
	medium: "Medium",
	large: "Large",
);

$shapes: (
	default: "Default",
	rounded: "Rounded",
	squared: "Squared",
);

// Base style for Badge
.neevoBadge {
	width: min-content;
	height: var(--size-badge-medium);
	border-radius: var(--border-radius-badge-medium-default);
	background: var(--color-badge-background-primary-solid-default);
	display: flex;
	align-items: center;
	justify-content: center;

	// Style for Badge text
	.badgeText {
		font-size: var(--font-size-badge-medium);
		color: var(--color-badge-foreground-primary-solid-default);
		padding: 0 var(--padding-small);
	}
	&.badgeInnerDot {
		padding: 0;
		background: var(--color-badge-background-primary-solid-default);
		width: var(--size-badge-dot-medium);
		height: var(--size-badge-dot-medium);
		border-radius: 50%;
	}
}

// Mixins to generate styles based on Variant and Color
@mixin color-styles($variant, $color) {
	background: var(--color-badge-background-#{$color}-#{$variant}-default);

	// Style Badge text.
	.badgeText {
		color: var(--color-badge-foreground-#{$color}-#{$variant}-default);
	}

	&.badgeInnerDot {
		background: var(--color-badge-background-#{$color}-#{$variant}-default);
	}

	// Adjust styles for outline variant.
	@if $variant == outline {
		background: transparent;
		border: var(--color-badge-background-#{$color}-#{$variant}-default);
	}

	// Adjust styles for plain variant.
	@if $variant == plain {
		background: transparent;
		border-color: transparent;
	}
}

// Mixin to generate styles based on Size and Shape.
@mixin badge-styles($size, $shape) {
	min-width: var(--size-badge-#{$size});
	height: var(--size-badge-#{$size});
	border-radius: var(--border-radius-badge-#{$size}-#{$shape});

	.badgeText {
		font-size: var(--font-size-badge-#{$size});
		line-height: var(--size-badge-#{$size});
	}

	&.badgeInnerDot {
		min-width: unset;
		width: var(--size-badge-dot-#{$size});
		height: var(--size-badge-dot-#{$size});
		border-radius: 50%;
	}
}

// Generate classes for each color variant combination.
// For example - SolidPrimary, SoftSecondary, OutlinePrimary, PlainPrimary
@each $variant, $variant-name in $variants {
	@each $color, $color-name in $colors {
		.#{$variant-name}#{$color-name} {
			@include color-styles($variant, $color);
		}
	}
}

// Generate classes for each size, shape, and icon position combination.
// For example - SmallRoundedCenter, MediumSquareEnd, LargeDefaultCenter
@each $size, $size-name in $sizes {
	@each $shape, $shape-name in $shapes {
		.#{$size-name}#{$shape-name} {
			@include badge-styles($size, $shape);
		}
	}
}
