// Main div Styling
.settingsContainer {
	padding: 80px 20px;
	display: flex;
	flex-direction: column;
	font-family: var(--font-family-secondary);

	.settingTitle {
		font-size: var(--font-size-heading-1);
		font-weight: var(--font-weight-semi-bold);
		color: var(--color-text-regular);
		margin-bottom: var(--margin-regular);
	}

	.settingDescription {
		font-size: var(--font-size-large);
		font-weight: var(--font-weight-thin);
		color: var(--color-text-tint);
	}

	.settingListWrapper {
		padding: 30px 50px;

		// Toggle and logout styling
		.listElement {
			padding: var(--padding-xxlarge) var(--padding-medium);
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid var(--color-brand-neutral-light-400);
		}
		.listTitle {
			font-size: var(--font-size-large);
			font-weight: var(--font-weight-medium);
			color: var(--color-text-regular);
		}
	}
}

// Ipad Mini
@media (max-width: 768px) {
	.settingsContainer {
		padding: 56px 62px;

		.settingListWrapper {
			padding: 32px 16px;
		}
	}
}

// Mobile Phones
@media (max-width: 600px) {
	.settingsContainer {
		padding: 32px 36px;
		.settingTitle {
			font-size: var(--font-size-heading-4);
			margin-bottom: var(--margin-small);
		}
		.settingDescription {
			font-size: var(--font-size-small);
		}
		.settingListWrapper {
			padding: var(--padding-large) var(--padding-medium);
			.listTitle {
				font-size: var(--font-size-small);
			}
			.listElement {
				padding: var(--padding-large) var(--padding-medium);
			}
		}
	}
}