.contentWrapper {
	width: 100%;
	margin: 0 34px;
	overflow: hidden;
	gap: 60px;
}
.founderContentStyles {
	p {
		margin: var(--margin-xxlarge) 0;
		line-height: 32px;
		font-size: var(--color-brand-font-size-regular);
		text-align: left;
	}
}
.messageWrapper {
	flex: 1;
}
.founderName {
	color: var(--color-brand-primary-regular);
	font-size: var(--color-brand-font-size-medium);
}
.designation {
	color: var(--color-brand-primary-deep);
	font-size: var(--color-brand-font-size-regular);
}
.founderImage {
	display: none;
}
.doubleQuotes {
	justify-content: center;
}

// Mobile Phones
@media only screen and (min-width: 600px) {
	.founderContentStyles {
		p {
			font-size: var(--color-brand-font-size-medium);
		}
	}
}

// Ipad Mini
@media only screen and (min-width: 768px) {
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
	.founderImage {
		display: block;
	}
	.doubleQuotes {
		justify-content: flex-start;
	}
	.imageWrapper {
		width: 500px;
		height: 500px;
	}
}
