.contentWrapper {
	gap: 12px;
	padding: 10px;
	.title {
		font-size: 60px;
	}
	.icon {
		width: 80px;
		height: 80px;
		color: green;
	}
}
.primaryClass {
	color: var(--color-brand-primary-contrast);
}
// Small laptops
@media only screen and (max-width: 1500px) {
}

// Ipad air
@media only screen and (max-width: 992px) {
}

// Ipad Mini
@media only screen and (max-width: 768px) {
	.contentWrapper {
		gap: 32px;
		padding: 24px;
		.title {
			font-size: 18px;
		}
	}
}

// Mobile Phones
@media only screen and (max-width: 600px) {
}
