.changePasswordScreen {
	background-color: var(--color-brand-primary-regular);
	min-height: 100vh;

	.changePasswordContainer {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0 var(--padding-xlarge);
		min-height: 100vh;
	}

	// Left Section Styling
	.leftSection {
		width: 40%;
		color: var(--color-brand-primary-contrast);

		.leftContent {
			color: var(--color-brand-primary-contrast);

			.leftSectionTitle {
				font-family: var(--font-family-primary);
				font-size: var(--font-size-10xlarge);
				line-height: 1;
				margin-bottom: var(--margin-small);
			}

			.leftSectionDescription {
				font-size: var(--font-size-large);
				font-weight: var(--font-weight-medium);
				line-height: var(--line-height-heading-4);
			}
		}

		.leftSectionVector {
			margin-top: 40px;
			max-width: 300px;
		}
	}

	// Form Section Styling
	.changePasswordFormWrap {
		background: var(--color-brand-primary-contrast);
		width: 45%;
		border-radius: var(--border-radius-large);
		padding: 56px 80px;
		max-width: 500px;

		// Brand Icon Styling
		.brandIcon {
			display: block;
			margin: auto;
			margin-bottom: 56px;
		}

		.changePasswordInfo {
			text-align: center;
			width: 90%;
			margin-bottom: 30px;

			.changeTitle {
				color: var(--color-text-regular);
				font-size: var(--font-size-heading-3);
				font-weight: var(--font-weight-semi-bold);
			}

			.changeInfo {
				color: var(--color-text-tint);
				font-size: var(--font-size-small);
				font-weight: var(--font-weight-regular);
				margin-top: var(--margin-small);
			}
		}

		.inputArea {
			display: flex;
			flex-direction: column;
			gap: var(--gap-regular);
		}
		// Submit Button Styling
		.changePasswordButton {
			margin-top: var(--margin-xxlarge);
		}

		// Link to Login
		.changePasswordLinkWrap {
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--color-text-regular);
			font-weight: var(--font-weight-link);
			font-size: var(--font-size-link);
			margin-top: 36px;
			gap: var(--gap-regular);
			font-family: var(--font-family-secondary);

			.changePasswordLink {
				color: var(--color-brand-primary-regular);
				text-decoration: underline;
			}
		}
	}
}

// Small laptops (1366 x 768)
@media only screen and (max-width: 1500px) {
}

// Ipad Air
@media only screen and (max-width: 992px) {
	.changePasswordScreen {
		.changePasswordContainer {
		}

		// Left Section Hidden on Smaller Screens
		.leftSection {
			display: none;
		}

		.changePasswordFormWrap {
			width: 100%;
		}
	}
}

// Ipad Mini
@media only screen and (max-width: 768px) {
}

// Mobile Phones
@media only screen and (max-width: 600px) {
	.changePasswordScreen {
		.changePasswordContainer {
		}

		// Adjust Form Section for Small Screens
		.changePasswordFormWrap {
			max-width: 95%;
			padding: 56px 40px;
		}
	}
}

// Small mobiles (iphone 5)
@media only screen and (max-width: 350px) {
}
