// Define color palette.
$colors: (
	primary: "Primary",
	secondary: "Secondary",
	tertiary: "Tertiary",
	neutral-light: "NeutralLight",
	neutral-dark: "NeutralDark",
	error: "Error",
	warning: "Warning",
	success: "Success",
);

// Define Icon button variants.
$variants: (
	solid: "Solid",
	soft: "Soft",
	outline: "Outline",
	plain: "Plain",
);

// Define Icon button sizes.
$sizes: (
	small: "Small",
	medium: "Medium",
	large: "Large",
);

// Define Icon button shapes.
$shapes: (
	default: "Default",
	rounded: "Rounded",
	squared: "Squared",
);

// Define base styles for Neevo Icon button.
.neevoButton {
	// Set default Icon button properties.
	background: var(--color-icon-button-background-primary-solid-default);
	height: var(--size-icon-button-medium);
	width: var(--size-icon-button-medium);
	border-radius: var(--border-radius-icon-button-medium-default);
	border: var(--border-width-icon-button-default) solid transparent;
	transition: all 0.3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	// Style apply on Icon button active state.
	&:active {
		transform: scale(0.95);
	}

	// Style apply on Icon button hover state.
	&:hover {
		background-color: var(--color-icon-button-background-primary-solid-hover);
	}

	// Button content styling.
	.buttonContent {
		// Icon styling.
		display: grid;
		place-items: center;
		.buttonIcon {
			path {
				fill: var(--color-icon-button-foreground-primary-solid-default);
			}
			width: var(--size-icon-button-icon-medium);
			height: var(--size-icon-button-icon-medium);
		}
	}
}

// Mixin for applying color styles to Icon buttons.
@mixin color-styles($variant, $color) {
	background: var(--color-icon-button-background-#{$color}-#{$variant}-default);
	.buttonContent {
		.buttonIcon {
			path {
				fill: var(--color-icon-button-foreground-#{$color}-#{$variant}-default);
			}
		}
	}

	// Hover state styles.
	&:hover {
		background-color: var(
			--color-icon-button-background-#{$color}-#{$variant}-hover
		);

		// Style Button content.
		.buttonContent {
			// Style icon.
			.buttonIcon {
				path {
					fill: var(--color-icon-button-foreground-#{$color}-#{$variant}-hover);
				}
			}
		}
	}

	// Additional styles for outline and plain variants.
	@if $variant == outline {
		background: transparent;
		border-color: var(
			--color-icon-button-background-#{$color}-#{$variant}-default
		);
	}
	@if $variant == plain {
		background: transparent;
		border-color: transparent;
		padding: 0;
		&:hover {
			background: transparent;
		}
	}

	// Style apply on Icon button disabled state.
	&.disabled {
		background: var(
			--color-icon-button-background-#{$color}-#{$variant}-disabled
		);
		border-color: var(
			--color-icon-button-background-#{$color}-#{$variant}-disabled
		);
		.buttonContent {
			.buttonIcon {
				path {
					fill: var(--color-icon-button-foreground-#{$color}-#{$variant}-disabled);
				}
			}
		}
		pointer-events: none;
	}
}

// Mixin to generate Icon button styles based on parameters.
@mixin button-styles($size, $shape) {
	height: var(--size-icon-button-#{$size});
	width: var(--size-icon-button-#{$size});
	border-radius: var(--border-radius-icon-button-#{$size}-#{$shape});

	// Style Button content.
	.buttonContent {
		// Style icon.
		.buttonIcon {
			height: var(--size-icon-button-icon-#{$size});
			width: var(--size-icon-button-icon-#{$size});
		}
	}

	// Style apply on Icon button disabled state.
	&.disabled {
		height: var(--size-icon-button-#{$size});
		width: var(--size-icon-button-#{$size});
		border-radius: var(--border-radius-icon-button-#{$size}-#{$shape});
		.buttonIcon {
			height: var(--size-icon-button-icon-#{$size});
			width: var(--size-icon-button-icon-#{$size});
		}
		pointer-events: none;
	}
}

// Generate classes for each color variant combination.
@each $variant, $variant-name in $variants {
	@each $color, $color-name in $colors {
		.#{$variant-name}#{$color-name} {
			@include color-styles($variant, $color);
		}
	}
}

// Generate classes for each size, shape, and icon position combination.
@each $size, $size-name in $sizes {
	@each $shape, $shape-name in $shapes {
		.#{$size-name}#{$shape-name} {
			@include button-styles($size, $shape);
		}
	}
}
