.contentWrapper {
	width: 300px;
	height: 500px;
	background-color: var(--color-background-light-tint);
	position: relative;
	border-radius: var(--border-radius-large);
}
.titleWrapper {
	position: absolute;
	color: black;
	padding: 0 var(--padding-medium);
	background-color: var(--color-background-light-tint);
	left: 22px;
	top: 22px;
	max-width: 60%;
	.firstName {
		font-size: var(--color-brand-font-size-heading-4);
		font-weight: var(--font-weight-semi-bold);
	}
	.lastName {
		font-size: 46px;
		font-weight: var(--font-weight-extra-bold);
	}
}
.imageDescriptionWrapper {
	flex-direction: column;
}
.imageWrapper {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	margin: var(--margin-medium) 0;
}
.linkButton {
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background-color: var(--color-background-light-tint);
	position: absolute;
	right: 32px;
	top: 90px;
}
.chipWrapper {
	position: absolute;
	width: 100%;
	bottom: 200px;
	left: -12px;
}
.description {
	color: #000;
	font-size: var(--color-brand-font-size-regular);
	font-weight: var(--font-weight-semi-bold);
	line-height: 22px;
	padding: 0 var(--padding-xxlarge);
}
// Small laptops
@media only screen and (min-width: 1500px) {
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
}

// Mobile Phones
@media only screen and (min-width: 600px) {
}
