.contentWrapper {
	background-color: var(--color-background-light-tint);
	position: relative;
	border-radius: var(--border-radius-large);
	padding: var(--padding-xxlarge);
}
.titleWrapper {
	position: relative;
	z-index: 1;
	color: black;
	padding: var(--padding-medium);
	background-color: var(--color-background-light-tint);
	width: max-content;
	.firstName {
		font-size: var(--color-brand-font-size-heading-4);
		font-weight: var(--font-weight-semi-bold);
	}
	.lastName {
		font-size: 46px;
		font-weight: var(--font-weight-extra-bold);
	}
}
.imageDesignationWrapper {
	position: relative;
}
.imageWrapper {
	width: 250px;
	aspect-ratio: 1;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -22px;
}
.linkButton {
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background-color: var(--color-background-light-tint);
	position: absolute;
	right: 0;
	top: 40px;
}
.chipWrapper {
	position: absolute;
	left: -20px;
	bottom: 20px;
}
.description {
	margin-top: var(--margin-xlarge);
	color: #000;
	font-size: var(--color-brand-font-size-regular);
	font-weight: var(--font-weight-semi-bold);
	line-height: 22px;
}
// Small laptops
@media only screen and (min-width: 1500px) {
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
}

// Mobile Phones
@media only screen and (min-width: 600px) {
}
