.pageHeader {
	padding: var(--padding-large) var(--padding-xxlarge);
	border-bottom: 1px solid var(--color-brand-neutral-light-300);
	position: sticky;
	top: 0;
	background-color: var(--color-brand-neutral-light-100);
	z-index: 99;
	.backButtonWrap {
		margin-bottom: var(--margin-large);
	}
	.headerContent {
		display: flex;
		gap: var(--gap-large);
	}
	.headerContentInfo {
		flex: 1;
	}
	.headerTitle {
		margin-bottom: var(--margin-small);
		font-size: var(--font-size-heading-2);
		font-weight: var(--font-weight-semi-bold);
		color: var(--color-text-regular);
		line-height: var(--line-height-small);
	}
	.headerDescription {
		font-size: var(--font-size-small);
		font-weight: var(--font-weight-regular);
		color: var(--color-text-tint);
		line-height: var(--line-height-medium);
	}
	.headerActionsButtonWrap {
		display: flex;
		align-items: center;
		gap: var(--gap-medium);
	}
	.headerActionsButton {
		width: 165px;
	}
}

// Small laptops (1366 x 768)
@media only screen and (max-width: 1500px) {
}

// Ipad air
@media only screen and (max-width: 992px) {
	.pageHeader {
		.headerContent {
			flex-direction: column;
		}
	}
}

// Ipad Mini
@media only screen and (max-width: 768px) {
}

// Mobile Phones
@media only screen and (max-width: 600px) {
}

// Small mobiles (iphone 5)
@media only screen and (max-width: 350px) {
}
