// Define a map of colors.
$colors: (
	primary: "Primary",
	secondary: "Secondary",
	tertiary: "Tertiary",
	neutral-light: "NeutralLight",
	neutral-dark: "NeutralDark",
	error: "Error",
	warning: "Warning",
	success: "Success",
);

// Define a map of variants.
$variants: (
	solid: "Solid",
	soft: "Soft",
	outline: "Outline",
	plain: "Plain",
);

// Neevo Alert - Common Class.
.neevoAlertBase {
	border-radius: var(--border-radius-alert-default);
	padding: var(--padding-alert-default);
	width: 100%;
	display: flex;
	gap: 8px;

	//Left icon.
	.leftIcon {
		width: var(--size-alert-icon-default);
		height: var(--size-alert-icon-default);
		margin-top: var(--margin-xsmall);
	}

	// Text contaniner.
	.textContainer {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: var(--gap-regular);

		// Title text.
		.titleText {
			line-height: var(--line-height-alert-title);
			font-size: var(--font-size-alert-title);
			font-weight: var(--font-weight-medium);
		}

		//  Description text.
		.description {
			line-height: var(--line-height-alert-paragraph);
			font-size: var(--font-size-alert-paragraph);
			font-weight: var(--font-weight-regular);
		}

		// Button Container.
		.buttonsContainer {
			display: flex;
			justify-content: flex-start;
			gap: 10px;
		}
	}

	// Close button container.
	.closeButtonContainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: var(--padding-xsmall);

		// Close button.
		.closeButton {
			background: none;
			box-shadow: none;

			// Close button icon.
			.closeButtonIcon {
				width: 12px;
				height: 12px;
			}
		}
	}
}

// Define a mixin to apply styles based on color and variant
@mixin alert-style($background-color, $foreground-color, $accent-color) {
	// Set the background color.
	background-color: $background-color;

	// Set the fill color for the left icon.
	.leftIcon {
		path {
			fill: $foreground-color;
		}
	}

	// Set the text color
	.textContainer {
		.titleText {
			color: $foreground-color;
		}

		.description {
			color: $accent-color;
		}
	}

	// Set the fill color for the close button icon
	.closeButtonContainer {
		.closeButton {
			.closeButtonIcon {
				path {
					fill: $foreground-color;
				}
			}
		}
	}
}

// Apply the styles for all colors and variants
.neevoAlert {
	// Loop through different Alert Colors
	@each $color-key, $color-value in $colors {
		// Class for every Color
		&#{unquote($color-value)} {
			// Loop through different Alert Variants
			@each $variant-key, $variant-value in $variants {
				// Class for each Variant
				&#{unquote($variant-value)} {
					// Variables for background, foreground, and accent colors based on color and variant
					$background-var: var(
						--color-alert-background-#{$color-key}-#{$variant-key}
					);
					$foreground-var: var(
						--color-alert-foreground-#{$color-key}-#{$variant-key}
					);
					$accent-var: var(--color-alert-accent-#{$color-key}-#{$variant-key});

					// Change variables for Outline Variant
					@if $variant-value == Outline {
						$background-var: transparent;
						border: var(--border-width-alert-default) solid $foreground-var;
						$icon-color: var(--color-brand-neutral-light-100);
					}

					// Change variables for Plain Variant
					@if $variant-value == Plain {
						$background-var: transparent;
						border: none;
						padding: 0;
						$icon-color: var(--color-brand-neutral-light-100);
					}

					// Apply the alert styles using the Mixin
					@include alert-style($background-var, $foreground-var, $accent-var);
				}
			}
		}
	}
}
