// When the page is being scrolled Down
[data-scroll-dir-y="1"] {
	.stickySocialWrap {
		transform: translateY(0) translateX(-50%);
		opacity: 1;
	}
}

// // When the page is being scrolled Up
[data-scroll-dir-y="-1"] {
	.stickySocialWrap {
		transform: translateY(100%) translateX(-50%);
		opacity: 0;
	}
}

.stickySocialWrap {
	position: fixed;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--color-brand-primary-regular);
	padding: var(--padding-medium) 26px;
	border-radius: 20px;
	box-shadow: 0px 0px 2.1px 2px rgba(0, 0, 0, 0.1);
	color: var(--color-brand-neutral-dark-900);
	z-index: 999;
	transition: all 0.3s ease-out;
	gap: 26px;
	.socialIconsWrapper {
		gap: var(--gap-medium);
		a {
			display: flex;
		}
		.line {
			height: 12px;
			width: 2px;
			background-color: var(--color-background-light-tint);
			border-radius: 2px;
		}
	}
}
// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
