.errorPageWrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0 var(--padding-large);

	.errorIcon {
		width: 360px;
		height: 360px;
		margin-bottom: -60px;
	}

	.errorTitle {
		font-weight: var(--font-weight-semi-bold);
		font-size: var(--font-size-heading-2);
		margin-bottom: var(--margin-medium);
	}

	.errorDescription {
		font-size: var(--font-size-medium);
		color: var(--color-text-tint);
		width: 80%;
		line-height: var(--line-height-heading-4);
	}

	.errorButtonWrapper {
		margin-top: 35px;
	}
}

@media (max-width: 768px) {
	.errorPageWrapper {
		.errorIcon {
			width: 240px;
			height: 240px;
			margin-bottom: -40px;
		}

		.errorTitle {
			font-size: var(--font-size-large);
		}

		.errorDescription {
			font-size: var(--font-size-xsmall);
			line-height: var(--line-height-paragraph);
		}
	}
}
