// TOKENS //
@import "../primitive";

:root.dark {
	--font-family-title-thin: var(--font-family-primary-thin);
	--font-family-title-extra-light: var(--font-family-primary-extra-light);
	--font-family-title-light: var(--font-family-primary-light);
	--font-family-title-regular: var(--font-family-primary-regular);
	--font-family-title-medium: var(--font-family-primary-medium);
	--font-family-title-semi-bold: var(--font-family-primary-semi-bold);
	--font-family-title-bold: var(--font-family-primary-bold);
	--font-family-title-extra-bold: var(--font-family-primary-extra-bold);
	--font-family-title-black: var(--font-family-primary-black);
	--font-family-body-thin: var(--font-family-secondary-thin);
	--font-family-body-extra-light: var(--font-family-secondary-extra-light);
	--font-family-body-light: var(--font-family-secondary-light);
	--font-family-body-regular: var(--font-family-secondary-regular);
	--font-family-body-medium: var(--font-family-secondary-medium);
	--font-family-body-semi-bold: var(--font-family-secondary-semi-bold);
	--font-family-body-bold: var(--font-family-secondary-bold);
	--font-family-body-extra-bold: var(--font-family-secondary-extra-bold);
	--font-family-body-black: var(--font-family-secondary-black);
	--padding-xsmall: var(--spacing-2);
	--padding-small: var(--spacing-4);
	--padding-regular: var(--spacing-8);
	--padding-medium: var(--spacing-12);
	--padding-large: var(--spacing-16);
	--padding-xlarge: var(--spacing-20);
	--padding-xxlarge: var(--spacing-24);
	--gap-xsmall: var(--spacing-2);
	--gap-small: var(--spacing-4);
	--gap-regular: var(--spacing-8);
	--gap-medium: var(--spacing-12);
	--gap-large: var(--spacing-16);
	--gap-xlarge: var(--spacing-20);
	--gap-xxlarge: var(--spacing-24);
	--margin-xsmall: var(--spacing-2);
	--margin-small: var(--spacing-4);
	--margin-regular: var(--spacing-8);
	--margin-medium: var(--spacing-12);
	--margin-large: var(--spacing-16);
	--margin-xlarge: var(--spacing-20);
	--margin-xxlarge: var(--spacing-24);
	--border-radius-small: var(--border-radius-sm);
	--border-radius-medium: var(--border-radius-md);
	--border-radius-large: var(--border-radius-lg);
	--font-weight-heading-1: var(--font-weight-700);
	--font-weight-heading-2: var(--font-weight-700);
	--font-weight-heading-3: var(--font-weight-700);
	--font-weight-heading-4: var(--font-weight-700);
	--font-weight-large: var(--font-weight-500);
	--font-weight-small: var(--font-weight-400);
	--font-weight-paragraph: var(--font-weight-400);
	--font-weight-link: var(--font-weight-500);
	--font-weight-caption: var(--font-weight-400);
	--font-weight-error: var(--font-weight-400);
	--font-weight-thin: var(--font-weight-100);
	--font-weight-extra-light: var(--font-weight-200);
	--font-weight-light: var(--font-weight-300);
	--font-weight-regular: var(--font-weight-400);
	--font-weight-medium: var(--font-weight-500);
	--font-weight-semi-bold: var(--font-weight-600);
	--font-weight-bold: var(--font-weight-700);
	--font-weight-extra-bold: var(--font-weight-800);
	--font-weight-black: var(--font-weight-900);
	--font-size-heading-1: var(--font-size-4xl);
	--font-size-heading-2: var(--font-size-3xl);
	--font-size-heading-3: var(--font-size-2xl);
	--font-size-heading-4: var(--font-size-xl);
	--font-size-paragraph: var(--font-size-rg);
	--font-size-link: var(--font-size-rg);
	--font-size-error: var(--font-size-xs);
	--font-size-2xsmall: var(--font-size-2xs);
	--font-size-xsmall: var(--font-size-xs);
	--font-size-small: var(--font-size-sm);
	--font-size-caption: var(--font-size-xs);
	--font-size-regular: var(--font-size-rg);
	--font-size-medium: var(--font-size-md);
	--font-size-large: var(--font-size-lg);
	--font-size-xlarge: var(--font-size-xl);
	--font-size-2xlarge: var(--font-size-2xl);
	--font-size-3xlarge: var(--font-size-3xl);
	--font-size-4xlarge: var(--font-size-4xl);
	--font-size-5xlarge: var(--font-size-5xl);
	--font-size-6xlarge: var(--font-size-6xl);
	--font-size-7xlarge: var(--font-size-7xl);
	--font-size-8xlarge: var(--font-size-8xl);
	--font-size-9xlarge: var(--font-size-9xl);
	--font-size-10xlarge: var(--font-size-10xl);
	--color-foreground-light-tint: var(--color-black-500);
	--color-foreground-light-bright: var(--color-black-500);
	--color-foreground-light-regular: var(--color-black-500);
	--color-foreground-light-shade: var(--color-black-500);
	--color-foreground-light-deep: var(--color-black-500);
	--color-foreground-dark-tint: var(--color-white-100);
	--color-foreground-dark-bright: var(--color-white-100);
	--color-foreground-dark-regular: var(--color-white-100);
	--color-foreground-dark-shade: var(--color-white-100);
	--color-foreground-dark-deep: var(--color-white-100);
	--color-brand-primary-tint: var(--color-red-100);
	--color-brand-primary-bright: var(--color-red-300);
	--color-brand-primary-regular: var(--color-red-500);
	--color-brand-primary-shade: var(--color-red-700);
	--color-brand-primary-deep: var(--color-red-900);
	--color-brand-primary-contrast: var(--color-white-100);
	--color-brand-primary-rgb: var(--color-purple-500-rgb);
	--color-brand-secondary-tint: var(--color-yellow-100);
	--color-brand-secondary-bright: var(--color-yellow-300);
	--color-brand-secondary-regular: var(--color-yellow-500);
	--color-brand-secondary-shade: var(--color-yellow-700);
	--color-brand-secondary-deep: var(--color-yellow-900);
	--color-brand-secondary-contrast: var(--color-white-100);
	--color-brand-secondary-rgb: var(--color-yellow-500-rgb);
	--color-brand-tertiary-tint: var(--color-blue-100);
	--color-brand-tertiary-bright: var(--color-blue-300);
	--color-brand-tertiary-regular: var(--color-blue-500);
	--color-brand-tertiary-shade: var(--color-blue-700);
	--color-brand-tertiary-deep: var(--color-blue-900);
	--color-brand-tertiary-contrast: var(--color-white-100);
	--color-brand-tertiary-rgb: var(--color-blue-500-rgb);
	--color-brand-neutral-dark-100: var(--color-grey-500);
	--color-brand-neutral-dark-200: var(--color-grey-600);
	--color-brand-neutral-dark-300: var(--color-grey-700);
	--color-brand-neutral-dark-400: var(--color-grey-800);
	--color-brand-neutral-dark-500: var(--color-black-100);
	--color-brand-neutral-dark-600: var(--color-black-300);
	--color-brand-neutral-dark-700: var(--color-black-500);
	--color-brand-neutral-dark-800: var(--color-black-700);
	--color-brand-neutral-dark-900: var(--color-black-900);
	--color-brand-neutral-light-100: var(--color-white-100);
	--color-brand-neutral-light-200: var(--color-white-200);
	--color-brand-neutral-light-300: var(--color-white-300);
	--color-brand-neutral-light-400: var(--color-white-500);
	--color-brand-neutral-light-500: var(--color-white-700);
	--color-brand-neutral-light-600: var(--color-grey-100);
	--color-brand-neutral-light-700: var(--color-grey-200);
	--color-brand-neutral-light-800: var(--color-grey-300);
	--color-brand-neutral-light-900: var(--color-grey-400);
	--color-success-tint: var(--color-green-100);
	--color-success-regular: var(--color-green-500);
	--color-success-deep: var(--color-green-700);
	--color-success-contrast: var(--color-white-100);
	--color-error-tint: var(--color-red-100);
	--color-error-regular: var(--color-red-500);
	--color-error-deep: var(--color-red-700);
	--color-error-contrast: var(--color-white-100);
	--color-warning-tint: var(--color-orange-100);
	--color-warning-regular: var(--color-orange-500);
	--color-warning-deep: var(--color-orange-700);
	--color-warning-contrast: var(--color-white-100);
	--color-info-tint: var(--color-teal-100);
	--color-info-regular: var(--color-teal-500);
	--color-info-deep: var(--color-teal-700);
	--color-info-contrast: var(--color-white-100);
	--color-text-tint: var(--color-black-100);
	--color-text-bright: var(--color-black-300);
	--color-text-regular: var(--color-black-500);
	--color-text-shade: var(--color-black-700);
	--color-text-deep: var(--color-black-900);
	--color-link-default: var(--color-blue-500);
	--color-link-hovered: var(--color-blue-400);
	--color-link-pressed: var(--color-blue-400);
	--color-link-visited: var(--color-purple-500);
	--color-skeleton-default: var(--color-white-300);
	--color-skeleton-subtle: var(--color-white-500);
	--color-background-light-tint: var(--color-white-100);
	--color-background-light-bright: var(--color-white-200);
	--color-background-light-regular: var(--color-white-300);
	--color-background-light-shade: var(--color-white-400);
	--color-background-light-deep: var(--color-white-500);
	--color-background-dark-tint: var(--color-black-100);
	--color-background-dark-bright: var(--color-black-300);
	--color-background-dark-regular: var(--color-black-500);
	--color-background-dark-shade: var(--color-black-700);
	--color-background-dark-deep: var(--color-black-900);
	--line-height-heading-1: var(--line-height-md);
	--line-height-heading-2: var(--line-height-md);
	--line-height-heading-3: var(--line-height-md);
	--line-height-heading-4: var(--line-height-rg);
	--line-height-large: var(--line-height-lg);
	--line-height-small: var(--line-height-sm);
	--line-height-paragraph: var(--line-height-md);
	--line-height-link: var(--line-height-md);
	--line-height-caption: var(--line-height-md);
}
