.headerWrap {
	position: fixed;
	top: 24px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	.headerMain {
		padding: var(--padding-large) 28px;
		background-color: var(--color-background-light-tint);
		border-radius: var(--border-radius-large);
		.pageLink {
			font-size: var(--color-brand-font-size-medium);
			padding: var(--padding-large) 0;
		}
		.pageLinkWrap {
			gap: 40px;
			display: none;
		}
	}
	.headerDropdown {
		padding: var(--padding-medium);
		border-radius: var(--border-radius-large);
		margin-top: 4px;
		background-color: var(--color-background-light-tint);
		visibility: hidden;
		opacity: 0;
		transform: translateY(30px);
		transition: all 0.3s ease-in-out;
		.pageLink {
			padding: var(--padding-medium) 16px;
			display: block;
		}
		&.showDropdown {
			visibility: visible;
			opacity: 1;
			transform: translateY(0px);
		}
	}
}
// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
	.headerWrap {
		padding: var(--padding-large) 70px;
		.pageLinkWrap {
			display: flex;
			.pageLink {
				padding: 0;
			}
		}
		.showDropdown {
			display: none;
		}
	}
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
