.headerWrap {
	padding: var(--padding-large) 28px;
	background-color: var(--color-background-light-tint);
	position: fixed;
	top: 24px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	border-radius: var(--border-radius-large);
	.pageLink {
		font-size: var(--color-brand-font-size-medium);
	}
	.pageLinkWrap {
		gap: 40px;
		display: none;
	}

	.showDropdown {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition: all 0.5s ease-in-out;
		.pageLink {
			padding: var(--padding-large) 0 0 0;
			display: block;
		}
	}
	.hideDropdown {
		visibility: hidden;
		opacity: 0;
		transform: translateY(10px);
		transition: all 0.5s ease-in-out;
		.pageLink {
			display: none;
		}
	}
}
// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
	.headerWrap {
		padding: var(--padding-large) 70px;
		.pageLinkWrap {
			display: flex;
		}
		.showDropdown {
			display: none;
		}
	}
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
