.headerWrap {
	padding: var(--padding-large) 28px;
	background-color: var(--color-background-light-tint);
	position: fixed;
	top: 24px;
	width: 80%;
	left: 10%;
	z-index: 100;
	border-radius: var(--border-radius-large);
	.title {
		font-size: var(--color-brand-font-size-medium);
	}
	.titleWrapper {
		gap: 40px;
		display: none;
	}
	.hamburgerMenu {
		gap: var(--gap-medium);
		.icon {
			transition: all 0.3s ease-in-out;
		}

		&.active {
			.icon:first-child {
				transform: translateY(7px) rotate(45deg);
			}

			.icon:nth-child(2) {
				transform: translateY(-7px) rotate(-45deg);
			}
		}
	}
	.showDropdown {
		visibility: visible;
		opacity: 1;
		transition: all 0.2s ease-in-out;
		.title {
			padding: var(--padding-regular) 0;
			display: block;
		}
	}
	.hideDropdown {
		visibility: hidden;
		opacity: 0;
		.title {
			display: none;
		}
	}
}
// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
	.headerWrap {
		padding: var(--padding-large) 70px;
		.titleWrapper {
			display: flex;
		}
		.hamburgerMenu {
			display: none;
		}
		.showDropdown {
			display: none;
		}
	}
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
