.popupMain {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popupOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
}

.closePopupButton {
	position: absolute;
	top: 10px;
	right: 12px;
	background: transparent;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: var(--color-brand-neutral-light-300);
	}

	.closeIcon {
		height: 16px;
		width: 16px;

		path {
			fill: var(--color-brand-neutral-dark-500);
		}
	}
}

.commonPopupWrap {
	background-color: var(--color-brand-neutral-light-100);
	padding: var(--padding-popup-vertical) var(--padding-popup-horizontal);
	border-radius: var(--border-radius-popup-default);
	position: relative;
	z-index: 10000;
	gap: var(--gap-large);
	display: flex;
	flex-direction: column;

	&.small {
		width: 500px;

		.confirmationButton {
			width: 70px;
		}
	}

	&.medium {
		width: 600px;

		.confirmationButton {
			width: 125px;
		}
	}

	&.large {
		width: 800px;

		.confirmationButton {
			width: 140px;
		}
	}
}

.confirmationTitle {
	font-size: var(--font-size-popup-title);
	font-weight: var(--font-weight-popup-title);
	margin-bottom: var(--margin-small);
	line-height: var(--line-height-regular);
	color: var(--color-brand-neutral-dark-900);
}

.description {
	font-size: var(--font-size-popup-description);
	font-weight: var(--font-weight-popup-description);
	line-height: var(--line-height-regular);
	color: var(--color-brand-neutral-dark-500);
}

.confirmationButtonWrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--gap-xlarge);
}

//   Ipad air
@media only screen and (max-width: 992px) {
	.commonPopupWrap {
		width: 90%;
	}
}