.footerWrap {
	padding-top: var(--padding-xxlarge);
	padding-bottom: 106px;
	.footerContentWrapper {
		gap: 40px;
		margin-bottom: 40px;
		.footerTopWrap {
			gap: var(--gap-large);
		}
		.partnersSection {
			max-width: 300px;
			.partnersTitle {
				text-align: center;
				font-size: var(--color-brand-font-size-xsmall);
				margin-bottom: var(--margin-medium);
				line-height: 1.6;
			}
		}
		.fansSection {
			margin-bottom: var(--margin-xxlarge);
			.fansTitle {
				color: var(--color-text-shade);
				text-transform: uppercase;
				font-size: var(--color-brand-font-size-xlarge);
				.highlightedText {
					color: var(--color-brand-primary-contrast);
				}
			}
		}
	}
	.footerBottomSection {
		gap: var(--gap-medium);
		font-size: var(--color-brand-font-size-small);
		line-height: 1.5;
	}
}
// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
	.footerWrap {
		padding: var(--padding-xxlarge);
		.footerBottomSection {
			flex-direction: row;
		}
	}
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}