:root {
  --color-red-100: #fee6e5;
  --color-red-200: #fbb6b1;
  --color-red-300: #f9928b;
  --color-red-400: #f76e64;
  --color-red-500: #f44336;
  --color-red-600: #f4372a;
  --color-red-700: #f32516;
  --color-red-800: #e91b0c;
  --color-red-900: #d5190b;
  --color-red-500-rgb: #f44336;
  --color-green-100: #a2f6d7;
  --color-green-200: #7df2c7;
  --color-green-300: #58eeb7;
  --color-green-400: #33eba7;
  --color-green-500: #16db93;
  --color-green-600: #14cc89;
  --color-green-700: #12ba7c;
  --color-green-800: #11a770;
  --color-green-900: #0f9563;
  --color-blue-100: #d7effe;
  --color-blue-200: #85d0fe;
  --color-blue-300: #48b8fe;
  --color-blue-400: #20a9fe;
  --color-blue-500: #0197f6;
  --color-blue-600: #018adf;
  --color-blue-700: #017ecb;
  --color-blue-800: #0171b7;
  --color-blue-900: #0164a2;
  --color-blue-500-rgb: #0197f6;
  --color-purple-100: #ede5ff;
  --color-purple-200: #c7adff;
  --color-purple-300: #ab85ff;
  --color-purple-400: #8f5cff;
  --color-purple-500: #6a24ff;
  --color-purple-600: #661fff;
  --color-purple-700: #580aff;
  --color-purple-800: #4e00f5;
  --color-purple-900: #4700e0;
  --color-purple-500-rgb: #6a24ff;
  --color-yellow-100: #fff5d6;
  --color-yellow-200: #ffeaae;
  --color-yellow-300: #fee59a;
  --color-yellow-400: #fee085;
  --color-yellow-500: #fed766;
  --color-yellow-600: #fed65d;
  --color-yellow-700: #fed148;
  --color-yellow-800: #fecb34;
  --color-yellow-900: #fec620;
  --color-yellow-500-rgb: #fed766;
  --color-orange-100: #ffe5d6;
  --color-orange-200: #ffcbad;
  --color-orange-300: #ffb185;
  --color-orange-400: #ff985c;
  --color-orange-500: #ff7e33;
  --color-orange-600: #ff711f;
  --color-orange-700: #ff640a;
  --color-orange-800: #f55a00;
  --color-orange-900: #e05200;
  --color-brown-100: #d7ccc8;
  --color-brown-200: #bcaaa4;
  --color-brown-300: #a1887f;
  --color-brown-400: #8d6e63;
  --color-brown-500: #795548;
  --color-brown-600: #6d4c41;
  --color-brown-700: #5d4037;
  --color-brown-800: #4e342e;
  --color-brown-900: #3e2723;
  --color-grey-100: #b3bac5;
  --color-grey-200: #a5adba;
  --color-grey-300: #97a0af;
  --color-grey-400: #8993a4;
  --color-grey-500: #7a869a;
  --color-grey-600: #6b778c;
  --color-grey-700: #5e6c84;
  --color-grey-800: #505f79;
  --color-grey-900: #49576e;
  --color-black-100: #4d5f80;
  --color-black-200: #42526e;
  --color-black-300: #344563;
  --color-black-400: #253858;
  --color-black-500: #172b4d;
  --color-black-600: #091e42;
  --color-black-700: #071836;
  --color-black-800: #051024;
  --color-black-900: #020812;
  --color-peach-100: #ffe9e5;
  --color-peach-200: #ffe0db;
  --color-peach-300: #ffdbd6;
  --color-peach-400: #ffd5d0;
  --color-peach-500: #ffcbc4;
  --color-peach-600: #ffb7ad;
  --color-peach-700: #ffa599;
  --color-peach-800: #ff9385;
  --color-peach-900: #ff8170;
  --color-transparent: #ffffff;
  --color-pink-100: #ffd6e2;
  --color-pink-200: #ffc2d4;
  --color-pink-300: #ff99b8;
  --color-pink-400: #ff709b;
  --color-pink-500: #ff477e;
  --color-pink-600: #ff3370;
  --color-pink-700: #ff1f62;
  --color-pink-800: #ff0a54;
  --color-pink-900: #f50049;
  --color-white-100: #ffffff;
  --color-white-200: #fafbfc;
  --color-white-300: #f4f5f7;
  --color-white-400: #ebecf0;
  --color-white-500: #dfe1e6;
  --color-white-600: #c1c7d0;
  --color-white-700: #b9c0ca;
  --color-white-800: #aeb6c2;
  --color-white-900: #a2abb9;
  --color-teal-100: #d6f7ff;
  --color-teal-200: #c2f2ff;
  --color-teal-300: #adedff;
  --color-teal-400: #85e4ff;
  --color-teal-500: #5adbff;
  --color-teal-600: #47d7ff;
  --color-teal-700: #33d3ff;
  --color-teal-800: #1fceff;
  --color-teal-900: #0acaff;
  --spacing-0: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-112: 112px;
  --spacing-128: 128px;
  --spacing-144: 144px;
  --spacing-160: 160px;
  --spacing-200: 200px;
  --spacing-300: 300px;
  --box-shadow-depth1: 4;
  --box-shadow-depth2: 8;
  --box-shadow-depth3: 12;
  --border-width-xs: 1px;
  --border-width-sm: 1px;
  --border-width-rg: 2px;
  --border-width-md: 3px;
  --border-width-lg: 4px;
  --border-width-xl: 5px;
  --border-width-2xl: 6px;
  --border-radius-none: 0px;
  --border-radius-2xs: 2px;
  --border-radius-xs: 4px;
  --border-radius-sm: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 24px;
  --border-radius-full: 9999px;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
  --line-height-xs: 1.1;
  --line-height-sm: 1.2;
  --line-height-rg: 1.4;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  --line-height-xl: 2;
  --line-height-2xl: 2.2;
  --line-height-3xl: 2.4;
  --font-size-2xs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-rg: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 32px;
  --font-size-4xl: 36px;
  --font-size-5xl: 40px;
  --font-size-6xl: 48px;
  --font-size-7xl: 56px;
  --font-size-8xl: 64px;
  --font-size-9xl: 72px;
  --font-size-10xl: 84px;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --font-family-primary-thin: "Montserrat Thin";
  --font-family-primary-extra-light: "Montserrat Extra Light";
  --font-family-primary-light: "Montserrat Light";
  --font-family-primary-regular: "Montserrat Regular";
  --font-family-primary-medium: "Montserrat Medium";
  --font-family-primary-semi-bold: "Montserrat Semi Bold";
  --font-family-primary-bold: "Montserrat Bold";
  --font-family-primary-extra-bold: "Montserrat Extra Bold";
  --font-family-primary-black: "Montserrat Black";
  --font-family-secondary-thin: "Inter Thin";
  --font-family-secondary-extra-light: "Inter Extra Light";
  --font-family-secondary-light: "Inter Light";
  --font-family-secondary-regular: "Inter Regular";
  --font-family-secondary-medium: "Inter Medium";
  --font-family-secondary-semi-bold: "Inter Semi Bold";
  --font-family-secondary-bold: "Inter Bold";
  --font-family-secondary-extra-bold: "Inter Extra Bold";
  --font-family-secondary-black: "Inter Black";
  --size-2: 2px;
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-22: 22px;
  --size-24: 24px;
  --size-28: 28px;
  --size-30: 30px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
  --size-72: 72px;
  --breakpoint-small-laptop: 1500;
  --breakpoint-ipad-air: 992;
  --breakpoint-ipad-mini: 768;
  --breakpoint-mobile-phone: 600;
  --breakpoint-small-phone: 350;
}
