.inputBox,
.textArea {
    width: 100%;
    margin-bottom: var(--margin-xxlarge);
}


// Mobile Phones
@media only screen and (min-width: 600px) {}

// Ipad Mini
@media only screen and (min-width: 768px) {
    .inputBoxWrapper {
        display: flex;
        gap: 24px;
    }

    .inputBox {
        width: 50%;
    }

}

// Ipad air
@media only screen and (min-width: 992px) {}

// Small laptops
@media only screen and (min-width: 1500px) {}