.bannerWrapper {
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: var(--color-brand-primary-deep);
	border-bottom-left-radius: 3vw;
	border-bottom-right-radius: 3vw;
	overflow: hidden;

	.imageWrapper {
		width: 100%;
		height: 100%;
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			180deg,
			rgba(1, 100, 162, 0.05) 0%,
			var(--color-brand-primary-deep, #0f9563) 72.95%
		);
	}

	.textContent {
		position: absolute;
		bottom: 16px;
		padding: var(--padding-large);
		text-align: center;
		z-index: 22;
		color: var(--color-brand-primary-contrast);

		.bannerTitle {
			font-size: var(--color-brand-font-size-heading-2);
			line-height: 40px;
		}

		.bannerDescription {
			font-size: var(--color-brand-font-size-small);
			margin: 26px 0 80px 0;
			line-height: 24px;
			max-width: 1200px;
		}

		.buttonWrapper {
			position: relative;

			.buttonImage {
				position: absolute;
				top: -50px;
				right: 0;
			}
		}
	}
}

// Responsive Styling
@media only screen and (min-width: 600px) {
	.bannerWrapper {
		.textContent {
			padding: var(--padding-xlarge);

			.bannerTitle {
				font-size: var(--color-brand-font-size-heading-1);
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.bannerWrapper {
		.textContent {
			bottom: 60px;

			.bannerTitle {
				font-size: var(--color-brand-font-size-5xlarge);
				line-height: 1;
			}

			.bannerDescription {
				font-size: var(--color-brand-font-size-regular);
				width: 80%;
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.bannerWrapper {
		.textContent {
			.bannerTitle {
				font-size: var(--color-brand-font-size-8xlarge);
			}

			.bannerDescription {
				font-size: var(--color-brand-font-size-medium);
			}
		}
	}
}

@media only screen and (min-width: 1500px) {
	.bannerWrapper {
		.imageWrapper {
			width: 100%;
		}

		.textContent {
			.bannerTitle {
				font-size: var(--color-brand-font-size-9xlarge);
			}

			.bannerDescription {
				margin: 26px 0 80px 0;
			}
		}
	}
}
