// Define input sizes
$sizes: (
	small: "Small",
	medium: "Medium",
	large: "Large",
);

//  Input Default
.inputBox {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
	// Label
	.inputLabel {
		font-size: var(--font-size-input-box-label);
		font-weight: var(--font-weight-input-box-label);
		line-height: var(--line-height-small);
		color: var(--color-input-box-label-default);
		// Required field (star)
		.inputRequired {
			color: var(--color-error-deep);
			margin-left: var(--margin-xsmall);
		}
	}
	.inputWrapper {
		position: relative;
		// Icon left
		.iconLeft {
			position: absolute;
			width: var(--size-input-box-icon-default);
			height: var(--size-input-box-icon-default);
			z-index: 3;
			top: 50%;
			left: 12px;
			transform: translateY(-50%);
			path {
				fill: var(--color-input-box-icon);
			}
		}
		// Input element
		.inputElement {
			background: var(--color-input-box-background-default);
			border: var(--border-width-input-box-default) solid
				var(--border-color-input-box-default);
			border-radius: var(--border-radius-input-box-default);
			padding: var(--padding-input-box-vertical)
				var(--padding-input-box-horizontal);
			font-size: var(--font-size-input-box-value);
			font-weight: var(--font-weight-input-box-value);
			color: var(--color-input-box-label-default);
			line-height: var(--line-height-small);
			width: 100%;
			outline: none;
			&:focus {
				border-color: var(--border-color-input-box-focus);
			}
			&::placeholder {
				color: var(--color-input-box-placeholder);
				opacity: 1;
			}
			// Hide the native number spinner (up/down) arrows
			-moz-appearance: textfield;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
		.rightIconsWrapper {
			position: absolute;
			z-index: 2;
			top: 50%;
			right: 12px;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			gap: var(--gap-small);
			// Icon right container
			.iconRightContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: transparent;
				// Icon right
				.iconRight {
					width: var(--size-input-box-icon-default);
					height: var(--size-input-box-icon-default);
					path {
						fill: var(--color-input-box-icon);
					}
				}
			}
			// Close button
			.clearButton {
				height: 24px;
				width: 24px;
				border-radius: 9999px;
				background: none;
				padding: var(--padding-small);
				display: flex;
				align-items: center;
				justify-content: center;
				.clearButtonIcon {
					width: 14px;
					height: 14px;
					path {
						fill: var(--color-input-box-icon);
					}
				}
			}
		}
	}
	// Caption
	.caption {
		font-size: var(--font-size-input-box-caption);
		font-weight: var(--font-weight-input-box-caption);
		line-height: var(--line-height-small);
		color: var(--color-input-box-caption);
	}
	// Error message
	.errorMessage {
		font-size: var(--font-size-input-box-error);
		font-weight: var(--font-weight-input-box-error);
		line-height: var(--line-height-small);
		color: var(--color-input-box-error);
	}
}

// Input Disabled
.inputBoxDisabled {
	opacity: 0.5;
	.inputLabel {
		color: var(--color-input-box-label-disabled);
	}
	.inputWrapper {
		.inputElement {
			pointer-events: none;
			background: var(--color-input-box-background-disabled);
		}
	}
}

//  Input Error
.inputBoxError {
	.inputWrapper {
		.inputElement {
			border-color: var(--border-color-input-box-error);
			&:focus {
				border-color: var(--border-color-input-box-error);
			}
		}
	}
}

// Add extra padding on left/start if left icon is present
.inputBoxPaddingLeft {
	.inputWrapper {
		.inputElement {
			padding-left: calc(var(--padding-input-box-horizontal) + 28px);
		}
	}
}

// Add extra padding on right/end if right icon is present
.inputBoxPaddingRight {
	.inputWrapper {
		.inputElement {
			padding-right: calc(var(--padding-input-box-horizontal) + 28px);
		}
	}
}

// Add extra spacing on right/end if close icon is present
.inputBoxClosePresent {
	.inputWrapper {
		.inputElement {
			padding-right: calc(var(--padding-input-box-horizontal) + 28px);
		}
	}
}
// Add extra spacing on right/end if right icon and close icon both are present
.inputBoxRightClosePresent {
	.inputWrapper {
		.inputElement {
			padding-right: calc(var(--padding-input-box-horizontal) + 56px);
		}
	}
}

@mixin input-size($size, $size-name) {
	// Neevo Search Bar size class.
	.inputBox#{$size-name} {
		.inputWrapper {
			.inputElement {
				height: var(--height-input-box-#{$size});
			}
		}
	}
}

@each $size, $size-name in $sizes {
	@include input-size($size, $size-name);
}
