// STYLES //
@import "./variables.scss";
@import "./not-found.scss";
@import "./side-menu.scss";
@import "./utility.scss";
@import "./toast.scss";

$mobile: var(--breakpoint-small-mobile);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body {
	max-width: 100vw;
	color: var(--color-foreground-light-regular);
	background-color: var(--color-brand-neutral-light-100);
	font-family: var(--font-family-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-secondary);
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
button {
	font-family: var(--font-family-secondary);
	cursor: pointer;
	border: none;
	outline: none;
}
ul {
	list-style: none;
}
input,
textarea {
	border: none;
	outline: none;
	font-family: var(--font-family-secondary);
}

/* Sets the color scheme to dark for the entire HTML document */
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

// Container styles
.container {
	position: relative;
	margin: 0 auto;

	// Extra Large desktops
	@media (max-width: 1700px) and (min-width: 1501px) {
		width: var(--width-container-xxlarge);
		padding: 0 var(--padding-container-xxlarge);
	}

	// Desktops
	@media (max-width: 1500px) and (min-width: 1201px) {
		width: var(--width-container-xlarge);
		padding: 0 var(--padding-container-xlarge);
	}

	// Laptops
	@media (max-width: 1200px) and (min-width: 993px) {
		width: var(--width-container-large);
		padding: 0 var(--padding-container-large);
	}

	// Tablets
	@media (max-width: 992px) and (min-width: 768px) {
		width: var(--width-container-medium);
		padding: 0 var(--padding-container-medium);
	}

	// Large mobiles
	@media (max-width: 767px) and (min-width: 601px) {
		width: var(--width-container-small);
		padding: 0 var(--padding-container-small);
	}

	// Medium mobiles
	@media (max-width: 600px) and (min-width: 381px) {
		width: var(--width-container-xsmall);
		padding: 0 var(--padding-container-xsmall);
	}

	// Small mobiles
	@media screen and (max-width: 380px) {
		width: var(--width-container-xxsmall);
		padding: 0 var(--padding-container-xxsmall);
	}
}

.mobileHide {
	display: block !important;
}

.desktopHide {
	display: none !important;
}

// Mobile Phones
@media only screen and (max-width: 600px) {
	.mobileHide {
		display: none !important;
	}
	.desktopHide {
		display: block !important;
	}
}

// Notification Alert
.notification-alert {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}

// ScrollBar
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--color-brand-neutral-light-200);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: var(--color-brand-neutral-light-200);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-brand-neutral-light-800);
	border-radius: var(--border-radius-small);
}

.left-container-padding {
	padding-left: calc((100vw - var(--width-container-xlarge)) / 2);
}
