// Class for Text Allignment
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

// Class for flex layouts
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.align-center {
	align-items: center;
}
.align-start {
	align-items: start;
}
.align-end {
	align-items: end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-start {
	justify-content: start;
}
.justify-end {
	justify-content: end;
}
.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Class for font weight
.font-weight-900 {
	font-weight: var(--font-weight-black);
}
.font-weight-800 {
	font-weight: var(--font-weight-extra-bold);
}
.font-weight-700 {
	font-weight: var(--font-weight-bold);
}
.font-weight-600 {
	font-weight: var(--font-weight-semi-bold);
}
.font-weight-500 {
	font-weight: var(--font-weight-medium);
}
.font-weight-400 {
	font-weight: var(--font-weight-regular);
}
.fon-weight-300 {
	font-weight: var(--font-weight-light);
}
.font-weight-200 {
	font-weight: var(--font-weight-extra-light);
}
.font-weight-100 {
	font-weight: var(--font-weight-thin);
}
