.footerWrap {
	padding-top: var(--padding-xxlarge);
	padding-bottom: 106px;
	.footerContentWrapper {
		justify-content: center;
		gap: 40px;
		margin-bottom: 40px;
		.footerTopWrap {
			gap: var(--gap-large);
		}
		.partnersSection {
			max-width: 300px;
			.partnersTitle {
				text-align: center;
				font-size: var(--color-brand-font-size-xsmall);
				margin-bottom: var(--margin-medium);
				line-height: 1.6;
			}
			.partners {
				gap: 42px;
			}
		}
	}
	.fansSection {
		margin-bottom: var(--margin-xxlarge);
		text-align: center;
		.fansTitle {
			color: var(--color-text-shade);
			text-transform: uppercase;
			font-size: var(--color-brand-font-size-6xlarge);
			line-height: 1;
			.highlightedText {
				color: var(--color-brand-primary-contrast);
			}
		}
	}
	.footerBottomSection {
		gap: var(--gap-medium);
		font-size: var(--color-brand-font-size-small);
		line-height: 1.5;
	}
}
// Mobile Phones
@media only screen and (min-width: 600px) {
	.footerWrap {
		.footerContentWrapper {
			margin-bottom: 0;
		}
		.fansSection {
			.kitsWrapper {
				gap: 80px;
			}
			.fansTitle {
				font-size: var(--color-brand-font-size-9xlarge);
				line-height: 1;
			}
		}
	}
}

// Ipad Mini
@media only screen and (min-width: 768px) {
	.footerWrap {
		padding: var(--padding-xxlarge);
		.footerContentWrapper {
			justify-content: space-between;
		}
		.fansSection {
			.fansTitle {
				font-size: 100px;
				line-height: 1;
			}
		}
		.footerBottomSection {
			flex-direction: row;
		}
	}
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
