//  Textarea Default
.textarea {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
	// Label
	.textareaLabel {
		font-size: var(--font-size-textarea-label);
		font-weight: var(--font-weight-textarea-label);
		line-height: var(--line-height-small);
		color: var(--color-textarea-label-default);
		// Required field (star)
		.textareaRequired {
			color: var(--color-error-deep);
			margin-left: var(--margin-xsmall);
		}
	}
	.textareaWrapper {
		position: relative;
		// Icon left
		.iconLeft {
			position: absolute;
			width: var(--size-textarea-icon-default);
			height: var(--size-textarea-icon-default);
			z-index: 3;
			top: 14px;
			left: 12px;
			path {
				fill: var(--color-textarea-icon);
			}
		}
		// Textarea element
		.textareaElement {
			background: var(--color-textarea-background-default);
			border: var(--border-width-textarea-default) solid
				var(--border-color-textarea-default);
			border-radius: var(--border-radius-textarea-default);
			padding: var(--padding-textarea-vertical) var(--padding-textarea-horizontal);
			font-size: var(--font-size-textarea-value);
			font-weight: var(--font-weight-textarea-value);
			color: var(--color-textarea-label-default);
			line-height: var(--line-height-small);
			width: 100%;
			outline: none;
			resize: vertical;
			min-height: var(--height-textarea-default);
			&:focus {
				border-color: var(--border-color-textarea-focus);
			}
			&::placeholder {
				color: var(--color-textarea-placeholder);
				opacity: 1;
			}
		}
		.rightIconsWrapper {
			position: absolute;
			z-index: 2;
			top: 14px;
			right: 12px;
			display: flex;
			align-items: center;
			gap: var(--gap-small);
			// Icon right
			.iconRight {
				path {
					fill: var(--color-textarea-icon);
				}
				width: var(--size-textarea-icon-default);
				height: var(--size-textarea-icon-default);
			}
			// Close button
			.clearButton {
				height: 24px;
				width: 24px;
				border-radius: 9999px;
				background: none;
				padding: calc(var(--padding-xsmall) + 1px);
				display: flex;
				align-items: center;
				justify-content: center;
				.clearButtonIcon {
					path {
						fill: var(--color-textarea-icon);
					}
					width: 14px;
					height: 14px;
				}
			}
		}
	}

	// Caption
	.caption {
		font-size: var(--font-size-textarea-caption);
		font-weight: var(--font-weight-textarea-caption);
		line-height: var(--line-height-small);
		color: var(--color-textarea-caption);
	}

	// Error message
	.errorMessage {
		font-size: var(--font-size-textarea-error);
		font-weight: var(--font-weight-textarea-error);
		line-height: var(--line-height-small);
		color: var(--color-textarea-error);
	}
}

// Textarea Disabled
.textareaDisabled {
	opacity: 0.5;
	.textareaLabel {
		color: var(--color-textarea-label-disabled);
	}
	.textareaWrapper {
		.textareaElement {
			pointer-events: none;
			background: var(--color-textarea-background-disabled);
		}
	}
}

// Textarea Error
.textareaError {
	.textareaWrapper {
		.textareaElement {
			border-color: var(--border-color-textarea-error);
			&:focus {
				border-color: var(--border-color-textarea-error);
			}
		}
	}
}

// Add extra padding on left/start if left icon is present
.textareaPaddingLeft {
	.textareaWrapper {
		.textareaElement {
			padding-left: calc(var(--padding-textarea-horizontal) + 28px);
		}
	}
}

// Add extra padding on right/end if right icon is present
.textareaPaddingRight {
	.textareaWrapper {
		.textareaElement {
			padding-right: calc(var(--padding-textarea-horizontal) + 28px);
		}
	}
}

// Add extra spacing on right/end if close icon is present
.textareaClosePresent {
	.textareaWrapper {
		.textareaElement {
			padding-right: calc(var(--padding-textarea-horizontal) + 28px);
		}
	}
}

// Add extra spacing on right/end if right icon and close icon both are present
.textareaRightClosePresent {
	.textareaWrapper {
		.textareaElement {
			padding-right: calc(var(--padding-textarea-horizontal) + 56px);
		}
	}
}
