// Define color palette.
$colors: (
	primary: "Primary",
	secondary: "Secondary",
	tertiary: "Tertiary",
	neutral-light: "NeutralLight",
	neutral-dark: "NeutralDark",
	error: "Error",
	warning: "Warning",
	success: "Success",
);

// Define Checkbox sizes.
$sizes: (
	small: "Small",
	medium: "Medium",
	large: "Large",
);

// Neevo CheckBox main container.
.checkboxContainer {
	position: relative;
	padding-left: calc(var(--size-checkbox-medium) + var(--gap-checkbox-medium));
	cursor: pointer;
	color: var(--color-checkbox-label-default);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	height: var(--size-checkbox-medium);
	display: flex;
	align-items: center;
	margin-bottom: 0px;

	// Label.
	.label {
		color: var(--color-checkbox-label-default);
		font-size: var(--font-size-checkbox-label-medium);
	}

	// Input element.
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	// Check mark box styles
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: var(--size-checkbox-medium);
		width: var(--size-checkbox-medium);
		border: 1px solid var(--color-checkbox-border-primary-default);
		border-radius: var(--border-radius-checkbox-medium);

		&::after {
			content: "";
			position: absolute;
			display: none;
		}
	}

	// Styles the check mark background color when checkbox is checked
	input:checked ~ .checkmark {
		background-color: var(--color-checkbox-background-primary-selected);
	}

	// Show check mark on checked
	input:checked ~ .checkmark:after {
		display: block;
		left: 50%;
		top: 50%;
		width: 20%;
		height: 50%;
		border: solid var(--color-checkbox-foreground-primary-selected);
		border-width: 0 2px 2px 0;
		transform: translate(-50%, -62%) rotate(45deg);
	}

	// Input Disabled state.
	input:disabled ~ .checkmark {
		background-color: var(--color-checkbox-background-primary-disabled);
		border: 1px solid var(--color-checkbox-background-primary-disabled);
		cursor: not-allowed;
	}
}

// Neevo Checkbox disabled class.
.disabled {
	.label {
		color: var(--color-checkbox-label-disabled);
	}
}

// Mixin for Neevo Checkbox.
@mixin checkbox-styles($color, $size) {
	// Set padding, text color, height based on size variant
	padding-left: calc(
		var(--size-checkbox-#{$size}) + var(--gap-checkbox-#{$size})
	);
	color: var(--color-checkbox-label-#{$color});
	height: var(--size-checkbox-#{$size});

	// Label styles.
	.label {
		font-size: var(--font-size-checkbox-label-#{$size});
	}

	// Checkmark icon styles.
	.checkmark {
		height: var(--size-checkbox-#{$size});
		width: var(--size-checkbox-#{$size});
		border: 1px solid var(--color-checkbox-border-#{$color}-default);
		border-radius: var(--border-radius-checkbox-#{$size});
	}

	// Checked state styles.
	input:checked ~ .checkmark {
		background-color: var(--color-checkbox-background-#{$color}-selected);
	}
	.checkmark:after {
		border-color: var(--color-checkbox-foreground-#{$color}-selected);
	}

	// Disabled state styles.
	input:disabled ~ .checkmark {
		background-color: transparent;
		border: 1px solid var(--color-checkbox-border-#{$color}-disabled);
	}
	// Disabled and Selected
	input:checked:disabled ~ .checkmark {
		background-color: var(--color-checkbox-background-#{$color}-disabled);
	}
}

// Generate classes for all Colors & Sizes.

// Iterate over all Colors.
@each $color, $color-name in $colors {
	// Iterate over all Sizes.
	@each $size, $size-name in $sizes {
		.#{$color-name}#{$size-name} {
			// Call Neevo Checkbox mixin.
			@include checkbox-styles($color, $size);
		}
	}
}
