.content {
	margin-top: var(--margin-small);
	.accordianItem {
		margin-bottom: var(--margin-medium);
	}
}

// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
	.content {
		margin-top: 40px;
		.accordianItem {
			margin-bottom: var(--margin-large);
		}
	}
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
