$colors: (
	primary: "Primary",
	secondary: "Secondary",
	tertiary: "Tertiary",
	neutral-light: "NeutralLight",
	neutral-dark: "NeutralDark",
	error: "Error",
	warning: "Warning",
	success: "Success",
);

$variants: (
	solid: "Solid",
	soft: "Soft",
	outline: "Outline",
	plain: "Plain",
);

$sizes: (
	xsmall: "Xsmall",
	small: "Small",
	regular: "Regular",
	medium: "Medium",
	large: "Large",
	xlarge: "Xlarge",
	xxlarge: "Xxlarge",
);

$shapes: (
	default: "Default",
	rounded: "Rounded",
	squared: Squared,
);

$status: (
	online: "Online",
	offline: "Offline",
	verified: "Verified",
	none: "None",
);

// Base styles for neevo-avatar.
.neevoAvatar {
	display: inline-block;
	position: relative;
	vertical-align: top;

	// Avatar container styles.
	.avatarWrap {
		background-color: var(--color-avatar-background-primary-solid);
		border-radius: var(--border-radius-avatar-regular);
		width: var(--size-avatar-regular);
		height: var(--size-avatar-regular);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		// Avatar image styles.
		.avatarImage {
			width: 100%;
			height: 100%;
			background-color: transparent;
		}

		// Fallback icon styles.
		.avatarIcon {
			width: 50%;
			height: 50%;
			background-color: transparent;
		}

		// Initials styles.
		.avatarInitial {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			color: var(--color-avatar-foreground-primary-solid);
			font-weight: var(--font-weight-avatar-default);
			font-size: var(--font-size-avatar-regular);
		}
	}

	// Status indicator styles.
	.avatarStatus {
		position: absolute;
		right: 0;
		bottom: 0;
		width: var(--size-avatar-status-regular);
		height: var(--size-avatar-status-regular);
		.avatarStatusIcon {
			display: block;
			path {
				fill: #0197f6;
			}
		}
	}
}

// Mixins to generate styles based on Variant and Color
@mixin color-styles($variant, $color) {
	.avatarWrap {
		// Set background color according to variant.
		@if $variant == "outline" {
			border: 1px solid var(--color-avatar-background-#{$color}-#{$variant});
			background-color: transparent;
		} @else if $variant == "plain" {
			background-color: transparent;
		} @else {
			background-color: var(--color-avatar-background-#{$color}-#{$variant});
		}
		.avatarInitial {
			color: var(--color-avatar-foreground-#{$color}-#{$variant});
		}
		.avatarIcon {
			path {
				fill: var(--color-avatar-foreground-#{$color}-#{$variant});
			}
		}
	}
}

// Mixin to generate styles based on Size Shape Variant and Icon Position.
@mixin size-styles($size, $shape, $variant, $status) {
	.avatarWrap {
		width: var(--size-avatar-#{$size});
		height: var(--size-avatar-#{$size});
		@if $shape == rounded {
			border-radius: 9999px;
		}
		@if $shape == squared {
			border-radius: var(--border-radius-avatar-squared);
		}
		@if $shape == default {
			border-radius: var(--border-radius-avatar-#{$size});
		}

		// Set mask image according to variant.
		@if $variant == plain {
			mask-image: url("../../../../public/images/avatar/#{$shape}-mask-plain.png");
			mask-repeat: no-repeat;
			mask-size: 100%;
		}
		@if $variant != plain {
			mask-image: url("../../../../public/images/avatar/#{$shape}-mask.png");
			mask-repeat: no-repeat;
			mask-size: 100%;
		}
		@if $status == none {
			mask-image: none;
		}

		.avatarInitial {
			font-size: var(--font-size-avatar-#{$size});
		}
	}
	.avatarStatus {
		width: var(--size-avatar-status-#{$size});
		height: var(--size-avatar-status-#{$size});
		// If variant is PLAIN set styles accordingly.
		@if $variant == plain {
			top: 1%;
			right: 1%;
		}
		// Setting positions for rest(SOLID, OUTLINED, SOFT) variant
		@if $variant != plain {
			@if $shape == squared {
				@if $size == xsmall {
					right: 0;
					bottom: 2.2%;
				}
				@if $size == small {
					right: -1%;
					bottom: 1%;
				}
				@if $size == regular or $size == medium {
					right: -3%;
					bottom: -1%;
				}
				@if $size == large or $size == xlarge or $size == xxlarge {
					right: -4%;
					bottom: -1%;
				}
			}
			@if $shape == default {
				@if $size == xsmall {
					right: 3%;
					bottom: 4%;
				}
				@if $size == small {
					right: 0.5%;
					bottom: 2%;
				}
				@if $size == regular {
					right: 0%;
					bottom: 1%;
				}
				@if $size == medium {
					right: -1%;
					bottom: 0%;
				}
				@if $size == large or $size == xlarge or $size == xxlarge {
					right: 0%;
					bottom: 0%;
					transform: translate(10%, 4%);
				}
			}
			@if $shape == rounded {
				@if $size == xsmall {
					right: 6%;
					bottom: 6%;
				}
				@if $size == small {
					right: 5%;
					bottom: 5%;
				}
				@if $size == regular {
					right: 4%;
					bottom: 4%;
				}
				@if $size == medium {
					right: 3%;
					bottom: 3%;
				}
				@if $size == large or $size == xlarge or $size == xxlarge {
					right: 2%;
					bottom: 2%;
				}
			}
		}
		.avatarStatusIcon {
			width: var(--size-avatar-status-#{$size});
			height: var(--size-avatar-status-#{$size});
		}
	}
}

// Mixin to generate styles for status based on status-variant
@mixin status-styles($status) {
	.avatarStatus {
		@if $status == "online" {
			background-color: var(--color-avatar-status-online);
			border-radius: 9999px;
		}
		@if $status == "offline" {
			background-color: var(--color-avatar-status-offline);
			border-radius: 9999px;
		}
	}
}

// Generate classes for each color variant combination.
@each $color, $color-name in $colors {
	@each $variant, $variant-name in $variants {
		.#{$color-name}#{$variant-name} {
			@include color-styles($variant, $color);
		}
	}
}

// Generate classes for each size, shape, variant, color, and status combination.
@each $size, $size-name in $sizes {
	@each $shape, $shape-name in $shapes {
		@each $variant, $variant-name in $variants {
			@each $status, $status-name in $status {
				.#{$size-name}#{$shape-name}#{$variant-name}#{$status-name} {
					@include size-styles($size, $shape, $variant, $status);
				}
			}
		}
	}
}

// Generate classes for each status.
@each $status, $status-name in $status {
	.#{$status-name} {
		@include status-styles($status);
	}
}
