// Define color palette.
$colors: (
	primary: "Primary",
	secondary: "Secondary",
	tertiary: "Tertiary",
	neutral-light: "NeutralLight",
	neutral-dark: "NeutralDark",
	error: "Error",
	warning: "Warning",
	success: "Success",
);

// Define Checkbox sizes.
$sizes: (
	small: "Small",
	medium: "Medium",
	large: "Large",
);

// Define Checkbox states.
$states: (
	default: "Default",
	disabled: "Disabled",
);

// Main Neevo Radio Container.
.radioContainer {
	display: flex;
	align-items: center;
	position: relative;

	// Radio Input Element.
	.radioInput {
		position: absolute;
		left: 0;
		top: 0;
		appearance: none;
		background-clip: content-box;
		border-radius: 9999px;
	}

	// Radio border.
	.radioBorder {
		position: absolute;
		left: 0;
		top: 0;
	}
}

@mixin radio-styles($color, $size, $state) {
	height: var(--size-radio-#{$size});
	padding-left: calc(var(--gap-radio-#{$size}) + var(--size-radio-#{$size}));

	// Radio Input Element.
	.radioInput {
		appearance: none;
		background-color: var(--color-radio-background-#{$color}-default);
		height: var(--size-radio-#{$size});
		width: var(--size-radio-#{$size});

		// Styles when Radio is checked.
		&:checked {
			padding: calc(var(--size-radio-foreground-#{$size}) / 4);
			border: 1px solid var(--color-radio-border-#{$color}-selected);
			background-color: var(--color-radio-background-#{$color}-selected);
		}
		// Styles when Radio is disabled.
		&:disabled {
			border: 1px solid var(--color-radio-border-#{$color}-disabled);
			background-color: transparent;
			&:checked {
				background-color: var(--color-radio-background-#{$color}-disabled);
			}
		}
	}

	// Radio label.
	.radioLabel {
		font-size: var(--font-size-radio-label-#{$size});
		color: var(--color-radio-label-#{$state});
	}

	// Radio border.
	.radioBorder {
		height: var(--size-radio-#{$size});
		width: var(--size-radio-#{$size});
		border-radius: 9999px;
		border: 1px solid var(--color-radio-border-#{$color}-#{$state});
	}
}

// Generate classes for all Colors, Sizes & States.
// Iterate over all Colors.
@each $color, $color-name in $colors {
	// Iterate over all Sizes.
	@each $size, $size-name in $sizes {
		// Iterate over all States.
		@each $state, $state-name in $states {
			.#{$color-name}#{$size-name}#{$state-name} {
				// Call Neevo Checkbox mixin.
				@include radio-styles($color, $size, $state);
			}
		}
	}
}
