.coachesWrapper {
	margin-top: 40px;
	.cardWrap {
		display: flex;
		justify-content: center;
		.cardWrapInner {
			max-width: 330px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.coachesWrapper {
		padding: 0;
	}
}
// Mobile Phones
@media only screen and (min-width: 600px) {
}

// Ipad Mini
@media only screen and (min-width: 768px) {
}

// Ipad air
@media only screen and (min-width: 992px) {
}

// Small laptops
@media only screen and (min-width: 1500px) {
}
